@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #012222;
  color: #fffaf0;
}

.weather-container {
  background: #111;
  padding: 2rem;
  border-radius: 3px;
  border: 2px solid #fffaf0;
  width: 300px;
}