@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary: #012222;
  --light: #fffaf0;
  --dark: #111;
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-3: 0.1875rem;
  --size-4: 0.25rem;
  --size-5: 0.3125rem;
  --size-xs: 0.375rem;
  --size-sm: 0.5rem;
  --size-md: 0.625rem;
  --size-lg: 0.75rem;
  --size-xl: 0.9375rem;
  --size-xxl: 1.25rem;
}

body {
  font-family: 'League Spartan', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary);
  color: var(--light);
}
.weather-container {
  background: var(--dark);
  padding: 2rem;
  border-radius: var(--size-3);
  border: var(--size-2) solid var(--light);
  width: 300px;
}

.logo {
  margin-top: 0;
  font-family: 'Fredericka the Great', serif;
  letter-spacing: var(--size-1);
  font-weight: lighter;
}

.city-input {
  width: calc(100% - 50px);
  padding: var(--size-sm);
  margin-right: 1rem;
  background-color: var(--primary);
  color: var(--light);
  border: var(--size-2) solid var(--light);
  border-radius: var(--size-3);
  font-family: inherit;
  font-size: var(--size-xxl);
  font-weight: 300;
  outline: none;
  cursor: pointer;
}

.btn {
  margin-top: 1.5rem;
  padding: var(--size-sm);
  background-color: var(--primary);
  color: var(--light);
  border: var(--size-2) solid var(--light);
  border-radius: var(--size-3);
  font-family: inherit;
  font-size: var(--size-xxl);
  font-weight: 300;
  outline: none;
  transition: background-color 0.3s ease-in;
}

.btn:hover {
  background-color: var(--dark);
}

.favourites-heading {
  font-weight: 400;
}

.weather-result, 
.favourites-list {
  list-style: none;
  padding: 0;
}

.weather-item,
.favourite-item {
  padding: var(--size-sm);
  border-bottom: var(--size-1) solid var(--primary);
}